@import "tailwindcss";

:root {
  --background: #ebf6d6;
  --foreground: #171717;
  --pr-colour:#27b3db;
  --better-colour-1:#aadb4d;
  --better-h-colour-1:#d0f589;
  --better-colour-2:#ff72b8;
  --better-h-colour-2:#fd9ccc;
  --better-colour-3:#54d9ff; 
  --better-h-colour-3:#a6e6f8;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  
  color: var(--pr-colour);
  font-family: Arial, Helvetica, sans-serif;
}
.main-bg{background: var(--background);}
.pr-bg{background: var(--pr-colour);}
.pr-colour{color: var(--pr-colour);}
.btn-pr{  color: #fff;  background-color: var(--pr-colour);border:solid 2px var(--pr-colour);}
.btn-pr:hover{background-color: #fff; color:var(--pr-colour); border:solid 2px var(--pr-colour);}
.btn-1{  color: #fff;  background-color: var(--better-colour-1);border:solid 2px #fff;}
.btn-1:hover{background-color: #fff; color:var(--better-colour-1); border:solid 2px var(--better-colour-1);}
.btn-2{  color: #fff;  background-color: var(--better-colour-2);border:solid 2px #fff;}
.btn-2:hover{background-color: #fff; color:var(--better-colour-2); border:solid 2px var(--better-colour-2);}
.btn-3{  color: #fff;  background-color: var(--better-colour-3);border:solid 2px #fff;}
.btn-3:hover{background-color: #fff; color:var(--better-colour-3); border:solid 2px var(--better-colour-3);}

.text-colour-1{color:var(--better-colour-1); }
.text-colour-2{color:var(--better-colour-2); }
.text-colour-3{color:var(--better-colour-3); }

.background-colour-1{background-color:var(--better-colour-1); }
.background-colour-2{background-color:var(--better-colour-2); }
.background-colour-3{background-color:var(--better-colour-3); }


.border-colour-1{border-color:var(--better-colour-1); }
.border-colour-2{border-color:var(--better-colour-2); }
.border-colour-3{border-color:var(--better-colour-3); }